* {
  margin : 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  height          : 100%;
  background-color: dimgray;
}

.container {
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  align-items    : center;
  justify-content: center;
  align-content  : stretch;
  overflow       : hidden;
  height         : 650px;
  width          : 650px;
  border         : 5px solid azure;
  margin         : auto;
}

.navbar {
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 12vh;
}

.controller-container {
  display        : flex;
  justify-content: center;
}

.box {
  margin   : 0;
  padding  : 0;
  flex-grow: 1;
}

.orange {
  background-color: coral;
}

#page-title {
  padding      : 0.35em 1.2em;
  border-top   : 0.1em solid azure;
  border-bottom: 0.1em solid azure;
  color        : azure;
  font-size    : 36px;
  font-weight  : 200;
  margin       : 2rem;  
}

input {
  display        : inline-block;
  padding        : 0.35em 0.35em;
  border         : 0.1em solid azure;
  margin         : 2rem;
  border-radius  : 0.12em;
  box-sizing     : border-box;
  text-decoration: none;
  font-weight    : 300;
  font-size      : 24px;
  color          : azure;
  background     : dimgrey;
  text-align     : center;
  transition     : all 0.2s;
  cursor         : pointer;
}

input:hover{
  color           : dimgray;
  background-color: azure;
}

input:focus {
  outline: none;
}

::placeholder {
  color: azure;
}

button {
  display        : inline-block;
  padding        : 0.35em 0.35em;
  border         : 0.1em solid azure;
  margin         : 2rem;
  border-radius  : 0.12em;
  box-sizing     : border-box;
  text-decoration: none;
  font-weight    : 300;
  font-size      : 24px;
  color          : azure;
  background     : dimgrey;
  text-align     : center;
  transition     : all 0.2s;
  cursor         : pointer;
}

button:hover{
  color           : dimgray;
  background-color: azure;
  cursor          : pointer;
}

