* {
    margin: 0;
    padding: 0;
}

.container {
    display      : flex;
    flex-wrap    : wrap;
    align-items  : center;
    align-content: center;
    border       : 5px solid black;
    height       : 40rem;
    width        : 50rem;
    margin-left  : 35%;
    margin-top   : 10%;
    padding      : 0;
}

.card {
    height : 1rem;
    width  : 1rem;
    margin : 0;
    padding: 0;
}